html, body {
    height: 100%;
    background: white;
	margin: 0;
	padding: 0;
	color: $font-color;
	@include body-font;
	overflow-x: hidden;
}

h1, h2, h3 {
	@include header-font;
	text-transform: uppercase;
}

p {
	@include body-font;
}

*, *:before, *:after {
    box-sizing: border-box;
}

