#process {
	.stages {
		display: flex;
		justify-content: space-between;
	}
	.stage {
		
		img.process-icon {
		/*	border: 2px solid $grey;
			border-radius: 50%;
			padding: 15px;*/
			
			&:hover {
				background-color: $body-font-color;
			}
		}
	}
}